@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Vazir Font */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazir.eot') format('embedded-opentype'),
       url('/fonts/vazir/Vazir.woff2') format('woff2'),
       url('/fonts/vazir/Vazir.woff') format('woff'),
       url('/fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* DigiNozha Font */
@font-face {
  font-family: 'DigiNozha';
  src: url('/fonts/DigiNozha/DigiNozha2Bold.eot') format('embedded-opentype'),
       url('/fonts/DigiNozha/DigiNozha2Bold.woff2') format('woff2'),
       url('/fonts/DigiNozha/DigiNozha2Bold.woff') format('woff'),
       url('/fonts/DigiNozha/DigiNozha2Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #1A1A1A;
  --foreground: #ededed;
}

html[dir="ltr"] {
  --font-family: "Vazir", "Iran Yekan", "sans-serif";
}

html[dir="rtl"] {
  --font-family: "Vazir", "Iran Yekan", "sans-serif";
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

/* Test to verify Vazir font is loading */
.test-vazir {
  font-family: "Vazir", "Iran Yekan", "sans-serif" !important;
  color: red;
}

.top-nav {
  border-radius: 1rem;
  position: fixed;
  top: 1rem;
  left: .75rem;
  right: .75rem;
  max-width: 1280px;
  border-width: 1px;
}

/* RTL specific styles */
html[dir="rtl"] .top-nav {
  left: .75rem;
  right: .75rem;
}

/* RTL specific styles for the language toggle */
html[dir="rtl"] .fixed.bottom-10.right-0 {
  right: auto;
  left: 0;
  border-radius: 0 1.5rem 1.5rem 0;
}

html[dir="rtl"] .rounded-l-3xl {
  border-radius: 0 1.5rem 1.5rem 0 !important;
}

/* RTL specific styles for flex alignment */
html[dir="rtl"] .flex.items-center.justify-between {
  flex-direction: row-reverse;
}

html[dir="rtl"] .flex.justify-center.items-center.gap-x-4 {
  flex-direction: row-reverse;
}