@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #1A1A1A;
  --foreground: #ededed;
}

html[dir="ltr"] {
  --font-family: var(--font-iran-yekan), "Iran Yekan", "sans-serif";
}

html[dir="rtl"] {
  --font-family: var(--font-iran-yekan), "Iran Yekan", "sans-serif";
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.top-nav {
  border-radius: 1rem;
  position: fixed;
  top: 1rem;
  left: .75rem;
  right: .75rem;
  max-width: 1280px;
  border-width: 1px;
}

/* RTL specific styles */
html[dir="rtl"] .top-nav {
  left: .75rem;
  right: .75rem;
}

/* RTL specific styles for the language toggle */
html[dir="rtl"] .fixed.bottom-10.right-0 {
  right: auto;
  left: 0;
  border-radius: 0 1.5rem 1.5rem 0;
}

html[dir="rtl"] .rounded-l-3xl {
  border-radius: 0 1.5rem 1.5rem 0 !important;
}

/* RTL specific styles for flex alignment */
html[dir="rtl"] .flex.items-center.justify-between {
  flex-direction: row-reverse;
}

html[dir="rtl"] .flex.justify-center.items-center.gap-x-4 {
  flex-direction: row-reverse;
}