@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #1A1A1A;
  --foreground: #ededed;
}

html[dir="ltr"] {
  --font-family: "Poppins", "Roboto", "sans-serif";
}

html[dir="rtl"] {
  --font-family: var(--font-iran-yekan), "Iran Yekan", "sans-serif";
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.top-nav {
  border-radius: 1rem;
  position: fixed;
  top: 1rem;
  left: .75rem;
  right: .75rem;
  max-width: 1280px;
  border-width: 1px;
}